        <div class="col-sm-3 col-md-2 sidebar">
          <!--
		  <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">About</a></li>
          </ul>
			  -->
			  
		  <label>XSS</label>
          <ul class="nav nav-sidebar">
			<li><a href="/xss_test">xss-reflected</a></li>
          </ul>
	  
		  <label>Command Injection</label>
          <ul class="nav nav-sidebar">
			<li><a href="/command_injection">command-injection</a></li>
            <li><a href="/unsafe_eval">unsafe-eval</a></li>
          </ul>

            <label>SQL Injection</label>
            <ul class="nav nav-sidebar">
                <li><a href="/sqli">sql-injection</a></li>
            </ul>

          <label>Header</label>
          <ul class="nav nav-sidebar">
			<li><a href="/unvalidated-redirect">unvalidated-redirect</a></li>
            <li><a href="/header-injection">header-injection</a></li>
          </ul>
          <label>File / Path</label>
          <ul class="nav nav-sidebar">
			<li><a href="/path-traversal">path-traversal</a></li>
          </ul>          
		  <label>Crypto</label>
          <ul class="nav nav-sidebar">
            <li><a href="/crypto/crypto-bad-mac">crypto-bad-mac</a></li>
            <li><a href="/crypto/crypto-bad-ciphers">crypto-bad-ciphers</a></li>
			<li><a href="/crypto/crypto-weak-random">crypto-weak-random</a></li>
          </ul>
		  <label>HTTP</label>
          <ul class="nav nav-sidebar">
			<li><a href="/parampollution">http-parameter-pollution</a></li>
            <li><a href="/parampollution">cache-control-missing</a></li>
          </ul>
		  <label>Config</label>
          <ul class="nav nav-sidebar">
			<li><a href="/config">autocomplete-missing, cache-controls-missing, clickjacking-controls-missing, parameter-pollution</a></li>
          </ul>
		  
        </div>
