

		 <h1 class="page-header">Mongoose ODM (XSS)</h1>

		  <div class="row">
		  	<div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
				<h4 class="sub-header">Mongoose</h4>
				<form method="POST" action="/mongoose/find" target="_blank">
				  <div class="form-group">
				    <label for="exampleInputEmail1">find()</label>
				    <input name="input" class="form-control" id="exampleInputEmail1" placeholder="" value="woot">
				  </div>
				  <button type="submit" class="btn btn-default">Submit</button>
				</form>
				<form method="POST" action="/mongoose/deleteMany" target="_blank">
				  <div class="form-group">
				    <label for="exampleInputEmail1">deleteMany()</label>
				    <input name="input" class="form-control" id="exampleInputEmail1" placeholder="" value="woot">
				  </div>
				  <button type="submit" class="btn btn-default">Submit</button>
				</form>
                                <form method="POST" action="/mongoose/deleteMany" target="_blank">
				  <div class="form-group">
				    <label for="exampleInputEmail1">deleteMany()</label>
				    <input name="input" class="form-control" id="exampleInputEmail1" placeholder="" value="woot">
				  </div>
				  <button type="submit" class="btn btn-default">Submit</button>
				</form>
                                <form method="POST" action="/mongoose/deleteOne" target="_blank">
				  <div class="form-group">
				    <label for="exampleInputEmail1">deleteOne()</label>
				    <input name="input" class="form-control" id="exampleInputEmail1" placeholder="" value="woot">
				  </div>
				  <button type="submit" class="btn btn-default">Submit</button>
				</form>
                                <form method="POST" action="/mongoose/findOne" target="_blank">
				  <div class="form-group">
				    <label for="exampleInputEmail1">findOne()</label>
				    <input name="input" class="form-control" id="exampleInputEmail1" placeholder="" value="woot">
				  </div>
				  <button type="submit" class="btn btn-default">Submit</button>
				</form>
                                <form method="POST" action="/mongoose/findById" target="_blank">
				  <div class="form-group">
				    <label for="exampleInputEmail1">findById()</label>
				    <input name="input" class="form-control" id="exampleInputEmail1" placeholder="" value="woot">
				  </div>
				  <button type="submit" class="btn btn-default">Submit</button>
				</form>
                                <form method="POST" action="/mongoose/findByIdAndDelete" target="_blank">
				  <div class="form-group">
				    <label for="exampleInputEmail1">findByIdAndDelete()</label>
				    <input name="input" class="form-control" id="exampleInputEmail1" placeholder="" value="woot">
				  </div>
				  <button type="submit" class="btn btn-default">Submit</button>
				</form>
                                <form method="POST" action="/mongoose/findOneAndUpdate" target="_blank">
				  <div class="form-group">
				    <label for="exampleInputEmail1">findOneAndUpdate()</label>
				    <input name="input" class="form-control" id="exampleInputEmail1" placeholder="" value="woot">
				  </div>
				  <button type="submit" class="btn btn-default">Submit</button>
				</form>
                                <form method="POST" action="/mongoose/findOneAndRemote" target="_blank">
				  <div class="form-group">
				    <label for="exampleInputEmail1">findOneAndRemove()</label>
				    <input name="input" class="form-control" id="exampleInputEmail1" placeholder="" value="woot">
				  </div>
				  <button type="submit" class="btn btn-default">Submit</button>
				</form>
                                <form method="POST" action="/mongoose/replaceOne" target="_blank">
				  <div class="form-group">
				    <label for="exampleInputEmail1">replaceOne()</label>
				    <input name="input" class="form-control" id="exampleInputEmail1" placeholder="" value="woot">
				  </div>
				  <button type="submit" class="btn btn-default">Submit</button>
				</form>
                                <form method="POST" action="/mongoose/updateMany" target="_blank">
				  <div class="form-group">
				    <label for="exampleInputEmail1">updateMany()</label>
				    <input name="input" class="form-control" id="exampleInputEmail1" placeholder="" value="woot">
				  </div>
				  <button type="submit" class="btn btn-default">Submit</button>
				</form>
                                <form method="POST" action="/mongoose/updateOne" target="_blank">
				  <div class="form-group">
				    <label for="exampleInputEmail1">updateOne()</label>
				    <input name="input" class="form-control" id="exampleInputEmail1" placeholder="" value="woot">
				  </div>
				  <button type="submit" class="btn btn-default">Submit</button>
				</form>

			</div>
	  	  </div>

