

		 <h1 class="page-header">Crypto</h1>

		  <div class="row" style="min-height: 200px;">
			<div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
			  <% if (crypto_value) { %>

				 <h4 class="sub-header">Result from <%= crypto_type %></h4>
				 <div class="alert alert-success" role="alert">
				 	Value: <%= crypto_value %>
				 </div>
			  <% } %>
		  	</div>
	  	  </div>

