<% include ../../../views/partials/header %>

<h1 class="page-header">SSJS Injection</h1>
<div class="row">

	<div class="col-sm-10 col-sm-8" style="padding-bottom: 30px;">
		<h3>Sinks</h3>

		<ul>

			<!-- ####  eval  ############################ -->
			<li class="sink-list">
				<div>
					<span>Global <code>eval()</code> function:</span>
					<h3 class="sub-header"><code>eval</code></h3>
					<form method="GET"
								action="/ssjs-injection/query/unsafe/eval"
								data-action="/ssjs-injection/${type}/${safe}/eval">
						<div class="form-group">
							<label for="ssjs-eval">Source Code: <code>eval("'" + input + "'");</code></label>
							<input name="input" class="form-control" id="ssjs-eval" placeholder="" value="PID: ' + process.pid + '">
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			</li>

			<!-- ####  Function  ######################## -->
			<li class="sink-list">
				<div>
					<span>Global <code>Function()</code> constructor:</span>
					<h3 class="sub-header"><code>Function</code></h3>
					<form method="GET"
								action="/ssjs-injection/query/unsafe/function"
								data-action="/ssjs-injection/${type}/${safe}/function">
						<div class="form-group">
							<label for="ssjs-function">Source Code: <code>Function(`return ${input};`);</code></label>
							<input name="input" class="form-control" id="ssjs-function" placeholder="" value="return 'PID: '+process.pid">
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			</li>

			<!-- ####  vm.runInContext  ################# -->
			<li class="sink-list">
				<div>
					<span>Node.js VM module:</span>
					<h3 class="sub-header"><code>vm.runInContext()</code></h3>
					<form method="GET"
								action="/ssjs-injection/query/unsafe/vm-run-in-context"
								data-action="/ssjs-injection/${type}/${safe}/vm-run-in-context">
						<div class="form-group">
							<label for="ssjs-vm-run-in-context">
								Source Code: <code>vm.runInContext(`name = ${input};`, ctx);</code>
							</label>
							<input name="input" class="form-control" id="ssjs-vm-run-in-context" placeholder="" value="'PID: '+process.pid">
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>


				<!-- ####  vm.runInNewContext  ############## -->
				<div>
					<h3 class="sub-header"><code>vm.runInNewContext()</code></h3>
					<form method="GET"
								action="/ssjs-injection/query/unsafe/vm-run-in-new-context"
								data-action="/ssjs-injection/${type}/${safe}/vm-run-in-new-context">
						<div class="form-group">
							<label for="ssjs-vm-run-in-new-context">
								Source Code: <code>vm.runInNewContext(`name = ${input};`, sb);</code>
							</label>
							<input name="input" class="form-control" id="ssjs-vm-run-in-new-context" placeholder="" value="'PID: '+process.pid">
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>

				<!-- ####  vm.runInThisContext  ############# -->
				<div>
					<h3 class="sub-header"><code>vm.runInThisContext()</code></h3>
					<form method="GET"
								action="/ssjs-injection/query/unsafe/vm-run-in-this-context"
								data-action="/ssjs-injection/${type}/${safe}/vm-run-in-this-context" target="_blank">
						<div class="form-group">
							<label for="ssjs-vm-run-in-this-context">
								Source Code: <code>vm.runInThisContext(`name = ${input};`);</code>
							</label>
							<input name="input" class="form-control" id="ssjs-vm-run-in-this-context" placeholder="" value="'PID: '+process.pid">
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>

				<!-- ####  vm.createContext  ################ -->
				<div style="display:none">
					<h3 class="sub-header"><code>vm.createContext()</code></h3>
					<form method="GET"
								action="/ssjs-injection/query/unsafe/vm-create-context"
								data-action="/ssjs-injection/${type}/${safe}/vm-create-context">
						<div class="form-group">
							<label for="ssjs-vm-create-context">
								Source Code: <code>vm.createContext({ name: input, process });</code>
							</label>
							<input name="input" class="form-control" id="ssjs-vm-create-context" placeholder="" value="'PID: '+process.pid">
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>

				<!-- ####  Script.runInContext ########### -->
				<div>
					<h3 class="sub-header"><code>vm.Script.runInContext()</code></h3>
					<form method="get"
								action="/ssjs-injection/query/unsafe/vm-script-run-in-context"
								data-action="/ssjs-injection/${type}/${safe}/vm-script-run-in-context">
						<div class="form-group">
							<label for="ssjs-vm-script-run-in-context">
								source code: <code>new vm.Script(`name = ${input};`).runInContext(ctx);</code>
							</label>
							<input name="input" class="form-control" id="ssjs-vm-script-run-in-context" placeholder="" value="'PID: '+process.pid">
						</div>
						<button type="submit" class="btn btn-default">submit</button>
					</form>
				</div>

				<!-- ####  vm.script.runInNewContext ########### -->
				<div>
					<h3 class="sub-header"><code>vm.Script.runInNewContext()</code></h3>
					<form method="get"
								action="/ssjs-injection/query/unsafe/vm-script-run-in-new-context"
								data-action="/ssjs-injection/${type}/${safe}/vm-script-run-in-new-context">
						<div class="form-group">
							<label for="ssjs-vm-script-run-in-new-context">
								source code: <code>new vm.Script(`name = ${input};`).runInNewContext(sb);</code>
							</label>
							<input name="input" class="form-control" id="ssjs-vm-script-run-in-new-context" placeholder="" value="'PID: ' + process.pid">
						</div>
						<button type="submit" class="btn btn-default">submit</button>
					</form>
				</div>

				<!-- ####  vm.script.runInThisContext ########### -->
				<div>
					<h3 class="sub-header"><code>vm.Script.runInThisContext()</code></h3>
					<form method="get"
								action="/ssjs-injection/query/unsafe/vm-script-run-in-this-context"
								data-action="/ssjs-injection/${type}/${safe}/vm-script-run-in-this-context">
						<div class="form-group">
							<label for="ssjs-vm-script-run-in-this-context">
								source code: <code>new vm.Script(`name = ${input};`).runInThisContext();</code>
							</label>
							<input name="input" class="form-control" id="ssjs-vm-script-run-in-this-context" placeholder="" value="'PID: '+process.pid">
						</div>
						<button type="submit" class="btn btn-default">submit</button>
					</form>
				</div>

		</ul>
	</div>
</div>

<% include ../../../views/partials/footer %>

<style type="text/css" id="ssjs-styles">
 .sink-list { padding-bottom : 3em; }

 button.method.left, button.method.right {
	 line-height : 12pt;
 }
 button.method.left {
	 border-top-right-radius : 0;
	 border-bottom-right-radius : 0;
	 border-right: none;
	 padding-right : .7em;
	 margin-right: 0;
 }
 button.method.right {
	 border-top-left-radius : 0;
	 border-bottom-left-radius : 0;
	 border-left: none;
	 padding-left : .7em;
	 margin-left: 0;
 }
 button.method.active {
	 color: #333;
	 background-color: #e6e6e6;
	 border-color: #adadad;
 }
</style>

<script type="text/javascript">
 $(function ( ) {

	 const isSafe = 'unsafe';

	 $('form')
		.attr('target', 'ssjs-injection')
		.each(( idx, elem ) => {
			$(elem).find('.form-group').after(
				$('<button>')
					.text('GET')
					.attr('type', 'button')
					.text('GET')
					.addClass('method left btn btn-default active')
					.on('click', ( e ) => {
						const elem = $(e.target);
						const form = elem.closest('form');

						elem.addClass('active');
						elem.siblings('.method').removeClass('active');

						form.attr('method', 'GET');
						form.attr(
							'action',
							form.attr('data-action')
									.replace('${type}', 'query')
									.replace('${safe}', isSafe));
					}),
				$('<button>')
					.text('POST')
					.attr('type', 'button')
					.addClass('method right btn btn-default')
					.on('click', ( e ) => {
						const elem = $(e.target);
						const form = elem.closest('form');

						elem.addClass('active');
						elem.siblings('.method').removeClass('active');

						form.attr('method', 'POST');
						form.attr(
							'action',
							form.attr('data-action')
									.replace('${type}', 'body')
									.replace('${safe}', isSafe));
					}));
		});
 });
</script>
