 <% include ../../../views/partials/header %>
	  
		  
		 <h1 class="page-header">SQL Injection</h1>
		  		  
		  <div class="row">
		  	<div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
				<h4 class="sub-header">MySql</h4>
				<form method="GET" action="/sqli/mysql" target="_blank">
				  <div class="form-group">
				    <label for="exampleInputEmail1">connection.query('SELECT "'+req.query.name+'" as "test";',...</label>
				    <input name="name" class="form-control" id="exampleInputEmail1" placeholder="" value="woot">
				  </div>
				  <button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
	  	  </div>
		  
 <% include ../../../views/partials/footer %>