

		 <h1 class="page-header">Header Injection</h1>

		  <div class="row" style="min-height: 200px;">
		  	<div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
				<div class="alert alert-warning" role="alert">This was resolved as of Node.js 0.8.20.</div>
                <a class="btn btn-default" target="_blank" href="http://127.0.0.1:3000/header-injection/go?user_path=test%0D%0AContent-Length%3A+21%0D%0A%0D%0A%3Ch1%3ENew+Content%3C%2Fh1%3E%0D%0A%0D%0A">test</a>

		  	</div>
	  	  </div>

